@font-face {
    font-family: Segment7Standard;
    src: url("fonts/Segment7Standard.otf");
}

html {
    font-family: Segment7Standard;
    font-size: 200%;
}

#minesweeper {
    margin: auto;
    border: 4px ridge gray;
    width: fit-content;
}

#MineField {
    border-top: 2px solid #808080;
    width: min-content;
    margin: auto;
}
.line {
    display: flex;
}
.mine, .mine-small { 
    background-size:cover;
    aspect-ratio: 1/1;
    border: .5px solid #808080;
} 

.mine-small {
    width: 65px;
}

.mine {
    width: 30px;
}

.covered {
    background-color: #80808080;
}
.covered:hover {
    background-color: #808080;
}

#info {
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(200, 200, 200);
    color: red;
}

.score {
    display: block ruby;
}

#reset {
    width: 45px; 
    height: 45px; 
    image-rendering: pixelated;
}

#time, #score {
    width: min-content;
}

#time {
    text-align: right;
}