@font-face {
    font-family: SevenSegment;
    src: url("fonts/SevenSegment.ttf");
}

html {
    font-family: SevenSegment;
    font-size: larger;
}

#minesweeper {
    margin: auto;
    border: 4px solid gray;
    width: fit-content;
}

#MineField {
    border-top: 2px solid #808080;
    width: min-content;
    margin: auto;
}
.line {
    display: flex;
}
.mine { 
    background-size:cover;
    width: 30px;
    aspect-ratio: 1/1;
    border: .5px solid #808080;
} 
.covered {
    background-color: #80808080;
}
.covered:hover {
    background-color: #808080;
}

#info {
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(200, 200, 200);
    color: red;
}

.score {
    display: block ruby;
}

#reset {
    width: 45px; 
    height: 45px; 
    image-rendering: pixelated;
}