@font-face {
    font-family: Segment7Standard;
    src: url("fonts/Segment7Standard.otf");
}

#minesweeper {
    position: relative;
    width: fit-content;
    margin: 50px auto;
    background-color: rgb(180, 180, 180);
    border: 4px solid rgb(180, 180, 180);
}

#controls {
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
    width: 150px;
    z-index: 2;
    border: 4px inset #dbdbdb;
    background-color: rgb(180, 180, 180);
    color: #303030;
}

#controls::selection {
    background-color: #ff0000;
    color: #dbdbdb;
}

#controls .settings {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#controls label {
    margin-right: 20px;
}

#controls input {
    width: 60px;
    outline: none;
    appearance: textfield;
    background: unset;
    color: unset;
    text-align: end;
}

.button {
    min-width: 60px;
    width: fit-content;
    padding: 4px;
    text-align: center;
    border: 4px outset #dbdbdb;
    background-color: rgb(180, 180, 180);
    color: #303030;

}

#submit {
    margin: 5 auto;
}

#edit, #help {
    position: absolute;
}

#edit {
    top: -46px;
}

#help {
    bottom: -46px;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Segment7Standard;
    color: ff0000;
    font-size: 200%;
    border: 4px inset #dbdbdb;
    margin-bottom: 8px;
    height: 40px;
    padding: 10px;
}

#mine_score, #play_time {
    position: relative;
    height: 30px;    
}

#mines_left, #time, .ssegbg_t, .ssegbg_m {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 30px;
    border: 4px inset #dbdbdb;
}

#mines_left, #time {
    z-index: 1;
}

.ssegbg_t, .ssegbg_m {
    z-index: 0;
    color: #6f0000;
    background-color: black;
}

#time, .ssegbg_t {right: 0;}

#reset {
    width: 32;
    padding: 5px;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    border: 4px outset #dbdbdb;
}

#reset:hover, .button:hover{
    border: 4px inset #dbdbdb;
}

#MineField {
    border: 4px inset #dbdbdb;
    width: min-content;
    margin: auto;
}

#ScoreField {
    position: absolute;
    visibility: hidden;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.line {
    display: flex;
}

.mine {
    background-color: rgb(180, 180, 180);
    aspect-ratio: 1/1;
    border: 3px outset #dbdbdb;
    outline: 1.5px solid #929292;
    background-size:cover;
    image-rendering: crisp-edges;
    width: 16px;
}

.covered:hover {
    background-color: rgb(150, 150, 150);
    border: 3px inset rgb(180, 180, 180); 
}

.uncovered {
    background-color: #dbdbdb;
    border: 3px solid #dbdbdb;
}
