@font-face {
    font-family: Segment7Standard;
    src: url("fonts/Segment7Standard.otf");
}

#minesweeper {
    margin: auto;
    border: 4px ridge gray;
    background-color: rgb(180, 180, 180);
    width: fit-content;
    position: relative;
}

#MineField {
    border-top: 2px solid #808080;
    width: min-content;
    margin: auto;
}
#ScoreField {
    visibility: hidden;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;


}
.line {
    display: flex;
}
.mine, .mine-small { 
    background-size:cover;
    aspect-ratio: 1/1;
    border: .5px solid #808080;
} 

.mine {
    width: 30px;
}

.covered:hover {
    background-color: rgb(150, 150, 150);
}


#info {
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: red;
    font-family: Segment7Standard;
    font-size: 200%;
}

#settings {
    display: flex;
    align-items: center;
    border-bottom: 2px solid green;
}

#reset {
    width: 45px; 
    height: 45px; 
    image-rendering: pixelated;
    margin-inline: 15px;
}

#time, #score {
    width: min-content;
    height: 30px;
}

#time {
    text-align: right;
}

.button {
    width: 50px;
    padding: 5px;
    margin: 2px;
    text-decoration: underline;
    color: white;
    background-color: #808080;
    text-align: center;
}

#edit {
    margin-inline: auto;
}

#controls {
    display: none;
    align-items: baseline;
    margin: auto;
}


#controls input {
    width: 60px;
    height: fit-content;
    margin-right: 20px;

}

#controls label {
    margin-right: 10px;
}